openapi: 3.0.1
info:
  title: Maxine API(s)
  version: v1
  description: >-
    Maxine is a service discovery and a naming server for microservices that
    solves the issue of hard-wiring urls by hostnames and ports.
  contact:
    name: Vrushank Patel
  license:
    name: MIT
    url: https://github.com/VrushankPatel/Maxine-Server/blob/master/LICENSE
paths:
  /api/actuator/metrics:
    get:
      summary: Get the memory metrics info
      operationId: actuatorMetrics
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              example: >-
                {"mem": {"rss": 54534144,"heapTotal": 25661440,"heapUsed":
                22980160,"external": 1701211,"arrayBuffers": 83266},"uptime":
                47.998038}
  /api/actuator/info:
    get:
      summary: Get the project info
      operationId: actuatorInfo
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              example: >-
                {"build":{"name":"maxine-discovery","description":"Maxine is a
                service discovery and a registry server for all the running
                nodes with gargantua client dependency.","version":"1.0.0"}}
  /api/actuator/health:
    get:
      summary: Get the currently running heartbeat
      operationId: actuatorHealth
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              example: '{"status": "UP"}'
  /api/logs/download:
    get:
      summary: Get the Maxine log files and it's download path
      operationId: Maxine Logs
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: '{"Maxine-info.log": "/api/logs/download/Maxine-info.log"}'
        '404':
          description: Not Found
          content:
            application/json:
              example: '{"message":"File not found"}'
  /api/maxine/serviceops/register:
    post:
      summary: >-
        Register the server with it's data (ServiceName, NodeName, Host, Port,
        Weight, ssl, timeOut, weight).
      operationId: Maxine service register
      requestBody:
        description: The service to register.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >-
                {"serviceName":"MAXINE-123","nodeName":"NODE-4","address":"http://192.168.23.11:8080","timeOut":50,"weight":5,"registeredAt":"5/4/2022,
                10:00:56 am"}
        '400':
          description: Error, Bad Request
          content:
            application/json:
              example: >-
                {"message": "Please provide all of these -> hostName, nodeName,
                port and serviceName"}
      x-codegen-request-body-name: service
  /api/maxine/serviceops/discover:
    get:
      summary: >-
        Get the server from registry if there is any registered one by service
        name.
      operationId: Maxine service discover
      parameters:
        - in: query
          name: serviceName
          schema:
            type: string
            example: db-service
          required: true
      responses:
        '200':
          description: OK
          content:
            redirect:
              example: Redirect to registered service host:port if it is registered.
        '503':
          description: Service Unavailable
          content:
            application/json:
              example: '{"message": "Service Unavailable"}'
      x-codegen-request-body-name: service
  /api/maxine/signin:
    post:
      summary: To sign in and get auth token.
      operationId: Maxine Security
      requestBody:
        description: User.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >-
                {"accessToken":"eyJhbGciOiJIUzI1GiIsInR5cCI6IkpXVCJ9.eyJ1c2VyTmFtZSI6ImFkbWluIiwicGFzc3dvcmQiOiJhZG1pbiIsImlhdCI6MTY0OTMyNTI0NywiZXhwIjoxNjQ5NDExMjQ3fQ.yQev9kn9yIChCXE-vlOLpc3Y89qNy_p7TKxoDJ1HghQ"}
        '401':
          description: Unauthorized
          content:
            application/json:
              example: '{"message":"Unauthorized"}'
        '400':
          description: Error, Bad Request
          content:
            application/json:
              example: '{"message":"Please provide both of these -> userName and password."}'
  /api/maxine/serviceops/servers:
    get:
      summary: >-
        Get all the registered servers in Maxine service registry if there are
        registered server nodes, otherwise empty object {}.
      operationId: Maxine services list
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >-
                {"DB-SERVICE":{"offset":0,"nodes":{"NODE-X-1-0":{"nodeName":"NODE-X-1-0","parentNode":"NODE-X-1","address":"https://192.168.0.1:8082","timeOut":50,"registeredAt":"5/4/2022,
                3:38:58
                pm"},"NODE-X-1-1":{"nodeName":"NODE-X-1-1","parentNode":"NODE-X-1","address":"https://192.168.0.1:8082","timeOut":50,"registeredAt":"5/4/2022,
                3:38:58
                pm"},"NODE-X-1-2":{"nodeName":"NODE-X-1-2","parentNode":"NODE-X-1","address":"https://192.168.0.1:8082","timeOut":50,"registeredAt":"5/4/2022,
                3:38:58
                pm"},"NODE-X-1-3":{"nodeName":"NODE-X-1-3","parentNode":"NODE-X-1","address":"https://192.168.0.1:8082","timeOut":50,"registeredAt":"5/4/2022,
                3:38:58
                pm"},"NODE-X-1-4":{"nodeName":"NODE-X-1-4","parentNode":"NODE-X-1","address":"https://192.168.0.1:8082","timeOut":50,"registeredAt":"5/4/2022,
                3:38:58 pm"}}}}
        '401':
          description: Unauthorized
          content:
            application/json:
              example: '{"message":"Unauthorized"}'
        '403':
          description: Forbidden
          content:
            application/json:
              example: '{"message":"Forbidden"}'
  /api/maxine/control/config:
    get:
      summary: Get the current config data of Maxine.
      operationId: Maxine configuration Retrieval.
      security:
        - bearerAuth: []
      responses:
        '200':
            description: OK
            content:
              application/json:
                example: '{"logAsync":false,"heartBeatTimeout":3,"logJsonPrettify":false,"actuatorEnabled":true,"statusMonitorEnabled":true,"serverSelectionStrategy":{"name":"CH","code":"1","message":"Consistent Hashing","ordinal":1},"logFormat":{"name":"PLAIN","code":"1","message":"Plain logs","ordinal":1}}'
        '401':
          description: Unauthorized
          content:
            application/json:
              example: '{"message":"Unauthorized"}'
        '403':
          description: Forbidden
          content:
            application/json:
              example: '{"message":"Forbidden"}'
    put:
      summary: Update the config data of Maxine.
      operationId: Maxine configuration manipulation
      security:
        - bearerAuth: []
      requestBody:
        description: The updated config data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Config'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: >-
                {"logAsync":"Success","heartBeatTimeout":"Success","logJsonPrettify":"Success","serverSelectionStrategy":"Success","logFormat":"Success"}
        '401':
          description: Unauthorized
          content:
            application/json:
              example: '{"message":"Unauthorized"}'
        '403':
          description: Forbidden
          content:
            application/json:
              example: '{"message":"Forbidden"}'
components:
  schemas:
    Service:
      required:
        - hostName
        - nodeName
        - serviceName
      type: object
      properties:
        hostName:
          type: string
          example: 192.168.0.1
        nodeName:
          type: string
          example: node-x-1
        port:
          maximum: 65353
          type: integer
          example: 8082
        serviceName:
          type: string
          example: db-service
        ssl:
          type: boolean
          example: true
        timeOut:
          minimum: 1
          type: integer
          example: 5
        weight:
          maximum: 10
          minimum: 1
          type: integer
          example: 5
        path:
          type: string
          example: /api/info
    Config:
      type: object
      properties:
        logAsync:
          type: boolean
          example: false
        heartBeatTimeout:
          type: integer
          minimum: 1
          example: 3
        logJsonPrettify:
          type: boolean
          example: true
        serverSelectionStrategy:
          type: string
          enum: [RR, CH, RH]
          example: "CH"
          description: >
            Server Selection Strategies:

              * `RR` - Round Robin
              * `CH` - Consistent Hashing
              * `RH` - Rendezvous Hashing
        logFormat:
          type: string
          enum: [JSON, PLAIN]
          example: "JSON"
          description: >
            Log Formats:

              * `PLAIN` - Plain Logging
              * `JSON`  - JSON Logging
    User:
      type: object
      properties:
        userName:
          type: string
          example: "admin"
        password:
          type: string
          example: "admin"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
